/*
 * Basic animation to change opacity over time and fade in an item
*/
@keyframes fadeIn {
    from {
        background-color: #00000080;
        visibility: hidden;
    } to {
        background-color: #00000080;

    }
}

