@import "@/styles/variables.scss";

#post-page {
    padding: 0 $padding-x;
    margin-top: 16px;

    .submit-button{
        margin-top: 60px;
    }

    .select-group{
        h4{
            margin-bottom: 12px;
        }

        &__tabs{
            display: flex;
            transition: $transition-speed;
            gap: 16px;
            .select-tab{
                display: flex;
                padding: 8px 10px;
                height: 35px;
                font-weight: 500;
                border-radius: 5px;
                cursor: pointer;
                width: fit-content;
                border: 1px solid #A5A5A5;
    
                &.--selected{
                    background: #146A89;
                    color: white;
                }
            }
        }
    }

    .textarea-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        h4.label {
            margin-bottom: 12px;
            font-size: 16px;
            font-weight: 400;
        }
        textarea {
            height: 72px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            transition: $transition-speed;
            padding: 28px 14px;
            box-sizing: border-box;
            color: #6a6a7d;
            outline: none;
            &:focus {
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }
}
