#kyc-form{
    margin: 27px 22px 44px;

    .postsubmit__section{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        font-weight: 400;
        height: 280px;
        img{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}