@import '@/styles/animations.scss';
@import '@/styles/variables.scss';

#overlay-component{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000080;
    animation: fadeIn $fast-animation-speed ease-in forwards;
    display: flex;
    flex-direction: column-reverse;
    transition: $transition-speed;

    .overlay-component{
        &__slider{
            background-color: white;
            border-radius: 8px 8px 0 0;
            animation: slideUp $slow-animation-speed ease-in;
            height: 40%;
            width: 100%;
        }
    }

    &.--hidden{
        animation: fadeOut 100ms 400ms ease-in forwards;

        .overlay-component{
            &__slider{
                animation: slideDown $slow-animation-speed ease-in;
            }
        }
    }
}