/*
 * Basic animation to change opacity over time and fade in an item
*/
@keyframes fadeIn {
    from {
        display: none;
        opacity: 0;
    } to {
        display: flex;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        display: flex;
        opacity: 1;
    } to {
        display: none;
        opacity: 0;
    }
}

/*
* Basic animation to slide an item up from the bottom
*/
@keyframes slideUp {
    0% {
        margin-bottom: -100%;
    }
    95%{
        margin-bottom: 0;
    }
}

@keyframes slideDown {
    0% {
        margin-bottom: 0;
    }
    95%{
        margin-bottom: -100%;
    }
}

