// Colors
$primary-blue: #5A59FF;

// Spacing
$padding-x: 16px;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
}


h1 {
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 200;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: 200;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h5 {
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h6 {
  font-size: 12px;
  font-weight: 200;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
